<%-include('partials/header.ejs')%>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">Wishlist</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Wishlist Area Strat-->
            <div class="wishlist-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">remove</th>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="li-product-price">Unit Price</th>
                                                <th class="li-product-stock-status">Stock Status</th>
                                                <th class="li-product-add-cart">add to cart</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody" data-user="<%= user._id %> ">
                                             
                                                
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Wishlist Area End-->
            <!-- Begin Footer Area -->
            <div class="footer">
                <!-- Begin Footer Static Top Area -->
                <!-- Footer Static Top Area End Here -->
                <!-- Begin Footer Static Middle Area -->
                <div class="footer-static-middle">
                    <div class="container">
                        <div class="footer-logo-wrap pt-50 pb-35">
                            <div class="row">
                                <!-- Begin Footer Logo Area -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="footer-logo">
                                        <img src="images/menu/logo/1.1.png" alt="Footer Logo">
                                        <p class="info">
                                          Desgin and Devlop by Digitran
                                        </p>
                                    </div>

                                </div>
                                <!-- Footer Logo Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-3">
                                  <ul class="des">
                                    <br>
                                    <br>

                                      <li>
                                          <span>Phone: </span>
                                          <a href="#">(+91)**********</a>
                                      </li>
                                      <li>
                                          <span>Email: </span>
                                          <a href="mailto://info@yourdomain.com">info@yourdomain.com</a>
                                      </li>
                                  </ul>
                                </div>

                                <!-- Footer Block Area End Here -->
                                <!-- Begin Footer Block Area -->


                                <!-- Footer Block Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-5">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">Follow Us</h3>
                                        <ul class="social-link">
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="rss">
                                                <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="RSS">
                                                    <i class="fa fa-rss"></i>
                                                </a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Begin Footer Newsletter Area -->

                                    <!-- Footer Newsletter Area End Here -->
                                </div>
                                <!-- Footer Block Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Static Middle Area End Here -->

            </div>
            <!-- Footer Area End Here -->
            <!-- Begin Modal Area -->
            <div class="modal fade open-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <!-- Begin Modal Image Area -->
                        <div class="col-md-5">
                            <!-- Begin Modal Tab Content Area -->
                            <div class="tab-content product-details-large myTabContent">
                              <div class="tab-pane fade show active" id="single-slide1" role="tabpanel" aria-labelledby="single-slide-tab-1">
                                  <!--Single Product Image Start-->
                                  <div class="single-product-img img-full">
                                    <img src="images/product/large-size/p1.jpg" alt="">
                                  </div>
                                  <!--Single Product Image End-->
                              </div>
                              <div class="tab-pane fade" id="single-slide2" role="tabpanel" aria-labelledby="single-slide-tab-2">
                                  <!--Single Product Image Start-->
                                  <div class="single-product-img img-full">
                                    <img src="images/product/large-size/p2.jpg" alt="">
                                  </div>
                                  <!--Single Product Image End-->
                              </div>
                              <div class="tab-pane fade" id="single-slide3" role="tabpanel" aria-labelledby="single-slide-tab-3">
                                  <!--Single Product Image Start-->
                                  <div class="single-product-img img-full">
                                    <img src="images/product/large-size/p6.jpg" alt="">
                                  </div>
                                  <!--Single Product Image End-->
                              </div>
                              <div class="tab-pane fade" id="single-slide4" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                  <!--Single Product Image Start-->
                                  <div class="single-product-img img-full">
                                    <img src="images/product/large-size/p18.jpg" alt="">
                                  </div>
                                  <!--Single Product Image End-->
                              </div>
                              <div class="tab-pane fade" id="single-slide5" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                  <!--Single Product Image Start-->
                                  <div class="single-product-img img-full">
                                    <img src="images/product/large-size/p19.jpg" alt="">
                                  </div>
                                  <!--Single Product Image End-->
                              </div>
                              <div class="tab-pane fade" id="single-slide6" role="tabpanel" aria-labelledby="single-slide-tab-4">
                                  <!--Single Product Image Start-->
                                  <div class="single-product-img img-full">
                                    <img src="images/product/large-size/p20.jpg" alt="">
                                  </div>
                                  <!--Single Product Image End-->
                              </div>
                            </div>
                            <!-- Modal Tab Content Area End Here -->
                            <!-- Begin Modal Tab Menu Area -->
                            <div class="single-product-menu">
                                <div class="nav single-slide-menu owl-carousel" role="tablist">
                                    <div class="single-tab-menu img-full">
                                        <a class="active" data-toggle="tab" id="single-slide-tab-1" href="#single-slide1"><img src="images/product/small-size/p1.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-2" href="#single-slide2"><img src="images/product/small-size/p2.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-3" href="#single-slide3"><img src="images/product/small-size/p6.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-4" href="#single-slide4"><img src="images/product/small-size/p8.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-5" href="#single-slide5"><img src="images/product/small-size/p9.jpg" alt=""></a>
                                    </div>
                                    <div class="single-tab-menu img-full">
                                        <a data-toggle="tab" id="single-slide-tab-6" href="#single-slide6"><img src="images/product/small-size/p11.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Tab Menu End Here -->
                        </div>
                        <!-- Modal Image Area End Here -->
                        <!-- Begin Modal Content Area -->
                        <div class="col-md-7">
                            <div class="modal-product-info">
                                <h2>Accusantium dolorem1</h2>
                                <div class="modal-product-price">
                                   <span class="new-price">$46.80</span>
                               </div>
                               <div class="cart-description">
                                   <p>Vector graphic, format: svg. Download for personal, private and non-commercial use.</p>
                               </div>
                               <div class="quantity">
                                   <input class="input-text qty text" step="1" min="1" max="200" name="quantity" value="1" title="Qty" size="4" type="number">
                               </div>
                            </div>
                        </div>
                        <!-- Modal Content Area End Here -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/vendor/popper.min.js"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Ajax Mail js -->
        <script src="js/ajax-mail.js"></script>
        <!-- Meanmenu js -->
        <script src="js/jquery.meanmenu.min.js"></script>
        <!-- Wow.min js -->
        <script src="js/wow.min.js"></script>
        <!-- Slick Carousel js -->
        <script src="js/slick.min.js"></script>
        <!-- Owl Carousel-2 js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Magnific popup js -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- Isotope js -->
        <script src="js/isotope.pkgd.min.js"></script>
        <!-- Imagesloaded js -->
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <!-- Mixitup js -->
        <script src="js/jquery.mixitup.min.js"></script>
        <!-- Countdown -->
        <script src="js/jquery.countdown.min.js"></script>
        <!-- Counterup -->
        <script src="js/jquery.counterup.min.js"></script>
        <!-- Waypoints -->
        <script src="js/waypoints.min.js"></script>
        <!-- Barrating -->
        <script src="js/jquery.barrating.min.js"></script>
        <!-- Jquery-ui -->
        <script src="js/jquery-ui.min.js"></script>
        <!-- Venobox -->
        <script src="js/venobox.min.js"></script>
        <!-- Nice Select js -->
        <script src="js/jquery.nice-select.min.js"></script>
        <!-- ScrollUp js -->
        <script src="js/scrollUp.min.js"></script>
        <!-- Main/Activator js -->
        <script src="js/main.js"></script>
        <script>
                window.addEventListener('load',async()=>{
                    const res = await fetch('/wishlistpage', {
                            method: 'POST',
                            body: JSON.stringify({ _id: "<%= user._id %>" }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        const data=await res.json()
                        document.querySelector(".tbody").innerHTML = data.reduce((acc, product) => {
                                acc += `<tr>
                                                        <td class="li-product-remove" title="remove" data-id="${product.id}><a href="#"><i class="fa fa-times"></i></a></td>
                                                        <td class="li-product-thumbnail"><a href="#"><img src=${product.image} alt=""></a></td>
                                                        <td class="li-product-name"><a href="#">${product.name}</a></td>
                                                        <td class="li-product-price"><span class="amount">$${product.price}</span></td>
                                                        <td class="li-product-stock-status"><span class="in-stock">in stock</span></td>
                                                        <td class="li-product-add-cart"><a href="#" id=${product.id} class='add-to-cart-link'>add to cart</a></td>
                                                    </tr>`
                                return acc
                            }, '')
                        })
                        const addTo = document.querySelectorAll(".add-to-cart-link")
                        console.log(addTo);
            addTo.forEach(async addToCardLink => {
                addToCardLink.addEventListener('click', async e => {
                    e.preventDefault()
                    console.log(e);
            const res = await fetch('/cartUpdate', {
                            method: 'POST',
                            body: JSON.stringify({
                                id: e.target.id,
                                uid:document.querySelector('.tbody').getAttribute("data-uid")
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    })
                })
                const wishdetails=async()=>{
                const res = await fetch('/wishlistdetails', {
                    method: 'POST',
                    body: JSON.stringify({ _id: "<%=user===null?null: user._id %>" }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                const data = await res.json()
                const wishlistCount = data.wishlist.length
                document.querySelectorAll('.wishlist-item-count')[0].textContent = wishlistCount ?? 0
            }
            window.addEventListener('load',async()=>{
                const res = await fetch('/cartDetails', {
                    method: 'POST',
                    body: JSON.stringify({ _id: "<%=user===null? null : user._id %>" }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                const data = await res.json()
                const cartCount = data.orders.length
                document.querySelectorAll('.cart-item-count')[1].textContent = cartCount ?? 0
                document.querySelector(".minicart-product-list").innerHTML = data.orders.reduce((acc, product) => {
                    acc += `
                        <li>
                            <a href="/single-product" class="minicart-product-image">
                                <img src="${product.image}" alt="cart products">
                            </a>
                            <div class="minicart-product-details">
                                <h6><a href="/single-product">${product.name}</a></h6>
                                <span>${product.price} x ${product.count}</span>
                            </div>
                            <button class="close" title="Remove" data-id="${product.id}">
                                <i class="fa fa-close" data-id="${product.id}"></i>
                            </button>
                        </li>`
                    return acc
                }, '')

                const remove = document.querySelectorAll('button.close[data-id]')
                const update = async (e) => {
                    const productID = e.target.getAttribute('data-id');
                    try {
                        const response = await fetch('/remove', {
                            method: 'POST',
                            body: JSON.stringify({ id: productID, _id: "<%=user===null?null: user._id %>" }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        const details = await response.json()
                        const res = await fetch('/cartDetails', {
                            method: 'POST',
                            body: JSON.stringify({ _id: "<%= user===null ?null: user._id %>" }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })

                        const data = await res.json()
                        const cartCount = data.orders.length
                        document.querySelectorAll('.cart-item-count')[1].textContent = cartCount ?? 0

                        document.querySelector(".minicart-product-list").innerHTML = data.orders.reduce((acc, product) => {
                            acc += `<li>
                                    <a href="/single-product" class="minicart-product-image">
                                        <img src="${product.image}" alt="cart products">
                                    </a>
                                    <div class="minicart-product-details">
                                        <h6><a href="/single-product">${product.name}</a></h6>
                                        <span>${product.price} x ${product.count}</span>
                                    </div>
                                    <button class="close" data-id="${product.id}">
                                        <i class="fa fa-close" data-id="${product.id}"></i>
                                    </button>
                                </li>`
                            return acc
                        }, '')
                        window.location.reload()
                    } catch (e) {
                        alert("Can't remove item from cart")
                    }
                remove.forEach(elmt => {
                    elmt.addEventListener('click', e => {
                      e.preventDefault();
                       update(e)
                    })
                })
            }
                wishdetails()
            })
                document.querySelector('.signout').addEventListener('click',async ()=>{
                const res = await fetch('/signout', {method: 'POST',body:{}})
                window.location.reload()
            })
        </script>
    </body>

<!-- wishlist31:30-->
</html>
